*{
	padding: 0;
	margin: 0;
}

body{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

header{
	background-color: #EAEAEA;
	padding: 5px 50px;

	display: flex;
	flex-wrap: wrap; /* obligatoire pour le responsive */
	justify-content: space-between;
	align-items: center;
}

header ul{
	display: flex;
	flex-wrap: wrap;
}

header li{
	list-style: none;
}

header li:not(:last-child){ /* cible les <li> sauf le dernier élément */
	margin-right: 30px;
}

h1{
	font-family: 'BenchNine', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #8A8A8A;
}

h2{
	font-family: 'BenchNine', sans-serif;
	font-weight: 700;
	font-size: 30px;
}

h3{
	font-family: 'BenchNine', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #8A8A8A;
	margin-top: 10px;
}

h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 40px;
	color: #464646;
}

p, a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #464646;
	text-decoration: none;
}

.en-tete{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 30px;
}

.en-tete a{
	background-color: #36A7F6;
	color: white;
	border: 1px solid #35445E;
	padding: 5px 10px;
}

.colonnes img{
	width: 70px;
}

.specialites .colonnes section{
	text-align: center;
	width: calc((100% - 150px) / 4);
	/* (100% - toutes les marges) / nombre de colonnes */
}

.colonnes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}

.specialites{
	padding-left: 50px;
	padding-right: 50px;
}

.demarche{
	background-color: #EAEAEA;
	padding: 15px 50px;
}

.demarche .colonnes section{
	width: calc((100% - 100px) / 3);
	/* (100% - toutes les marges) / nombre de colonnes */
}

.demarche img{
	width: 100%;
}

.demarche .numeros{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.demarche h4{
	width: 25%;
}

.demarche p{
	width: 75%;
}

form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

form input[type=email]{
	width: calc(((100% - 50px) / 3) * 2);
	height: 50px;
	border: none;
	background-color: #EAEAEA;
	padding-left: 20px;
	box-sizing: border-box;
}

form input[type=submit]{
	width: calc((100% - 50px) / 3);
	height: 50px;
	border: none;
	background-color: #5CB52D;
	color: white;
}

footer p{
	text-align: center;
	color: #CCCCCC;
	margin-top: 100px;
	margin-bottom: 50px;
}

@media(max-width: 900px){
	/* tous les navigateurs qui ont une largeur maximale de 900px */
	.demarche h4{
		width: 100%;
	}
	.demarche p{
		width: 100%;
	}
}

@media(max-width: 650px){
	/* tous les navigateurs qui ont une largeur maximale de 900px */
	
	h1{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	ul{
		width: 100%;
	}
	
	.specialites .colonnes section{
		width: 100%;
	}

	.demarche .colonnes section{
		width: 100%;
		text-align: center;
	}
	form input[type=email]{
		width: 100%;
	}
	form input[type=submit]{
		width: 100%;
		margin-top: 10px;
	}

}

@media(max-width: 500px){
	/* tous les navigateurs qui ont une largeur maximale de 900px */
	
	h1{
		width: 100%;
		text-align: center;	
	}

	ul{
		width: 36%;
		padding-left: 300px;
		
	}

	li{
		text-align: right;
	}

	
	
	.specialites .colonnes section{
		width: 100%;
	}

	.demarche .colonnes section{
		width: 100%;
		text-align: center;
	}
	form input[type=email]{
		width: 100%;
	}
	form input[type=submit]{
		width: 100%;
		margin-top: 10px;
	}

}