*{
    /* Réinitialise les marges du navigateur */
    padding: 0;
    margin: 0;
}

section{
    display: flex;
    /* permet au bloc d'etre redimensionné*/
    flex-wrap: wrap;

    justify-content: space-between;
}

.rouge{
    background-color: red;
}

.orange{
    background-color: orange;
}

article{
    /* travailler sa structure en %*/
    width: 49%;

    padding: 1%; /* marge externe*/
    /* soustrait les paddings et borders au width(important pour le responsive) */
    box-sizing: border-box;
}

@media(max-width: 500px) {
    /* Tous les ecrans qui ont une largeur maximale de 500px */

    body{
        background-color: blue;
    } 

    article{
        width: 100%;
    }
}