h1{
    /*Cible la balise <h1>*/
    color: blue; /*couleur du texte*/
    font-size: 35px; /*taille de l'ecriture*/
    font-family: Georgia; /*police d'ecriture*/
    font-weight: 100px; /*graisse de l'écriture*/
    text-align: center; /*alignement du tete sur la largeur (left,center,right)*/
    text-transform: capitalize;/*transformer le texte (capitalize, uppercase, lowercase, none)*/
}

p{
    /*Cible la balise <p>*/
    line-height: 20px; /*hauteur de ligne*/
}

ul{
    list-style-type: none; /*retire les puces*/
}

a{
    text-decoration: none;
    /*
        -underline: texte souligné
        -overline: trait au dessus
        -line-trough: texte barré
        -none: pas de décoration
    */
}

a:hover{
    /* :hover cible le survol*/
    text-decoration: underline; /*souligne le texte au survol du lien*/
}

.vert{ /*cible la class vert*/
    color: green
}
.rouge{ /*cible la class rouge*/
    color: red;
}

img{
    width: 35%; /*redimentionne par la largeur*/
    /*height: hauteur*/
    border: 10px solid black;
    /*
        bordure: épaisseur type couleur
        -top -bottom -left -right
        types:
        -solid: ligne continue
        -double: ligne doubles
        -dashed: traits
        -dotted: points
    */
    border-radius: 50px; /*arrondir les angles*/
    /* 
        border-top-left-radius
        border-top-right-radius
        border-bottom-left-radius
        border-bottom-right-radius
    
    */
    
    /* centrer une image sur la largeur :*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body{
    /*body cible l'ensemble de la page*/
    background-image : url(fond.jpg);
    background-repeat: no-repeat; /* le fond ne se répète pas*/
    background-position: center center;/* position du fond*/
    background-size: cover; /* taille du fond*/
    height: 3000px; /*augmente la taille de la page*/
    background-attachment: fixed; /* rend l'image de fond fixe*/ 
}
