
body{
    height: 3000px;
}

header{
    background-color: red;
    
    /* met côte à côte les éléments internes :*/
    display:flex;
    justify-content: space-between;
    /*
        justify-content: emplacement des blocs sur la largeur
        - flex-start: alignés à gauche
        - flex-end: alignés à droite
        - center: centré
        - space-around: marges à gauche et à droite de chaque bloc
        - space-evenly: space-around sans les doubles marges au centre 
        - space-between: space-evenly sans la première et la dernière marge 
    */
}

html,body{
    /* cible <html> et <body>*/
    scroll-behavior: smooth; /*anime le scroll sur la page*/
}

h1{
    background-color: blue;
}

nav{
    background-color: burlywood;
}

ul{
    display: flex;
    list-style-type: none; /*retire les puces*/
}

li{
    background-color: white;
    margin-left: 20px;
    /*
        margin: marge externe
        margin-left
        margin-right
        margin-top
        margin-bottom
    */
    padding: 10px;
    /*
        padding: marge externe
        padding-left
        padding-right
        padding-top
        padding-bottom
    */
}
div{
    display: flex;
    
}
.vert{
    /* cible la class 'vert'*/
    background-color: yellow;
}

.bleu{
    background-color: yellowgreen;
}

#titre2{
    /* cible l'id 'titre2'*/
    color: white;
}